<!-- <app-libraries></app-libraries> -->
<div class="banner-container">
    <div class="banner-content">
        <!-- <img class="rotar-item" src="/assets/items/gear1.png" alt=""> -->
        <div class="banner-text">
            <div class="banner-title">
                <h1 id="banner-ghostgames">GhostGames </h1>
            </div>
            <div class="banner-description">
                <!-- <p>En GhostGames, te invitamos a explorar un vasto universo de videojuegos. Desde los clásicos que marcaron una era hasta las últimas novedades, nuestro catálogo ofrece algo para cada tipo de jugador. Sumérgete en emocionantes aventuras, desafía tus habilidades y descubre nuevos mundos. Aquí, cada juego es una nueva historia esperando ser contada. ¡Únete a nuestra comunidad y empieza tu próxima gran aventura hoy mismo!</p> -->
                <p>Sumérgete en emocionantes aventuras, desafía tus habilidades y descubre nuevos mundos.</p>
            </div>
            <div class="banner-button-info">
                <button id="banner-boton" (click)="explorarMas()" type="button">Explorar más</button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="titles-container">


    <div class="cards-container">

        <div class="cards-titulo">
            <h1 class="cards-h1">Próximos Juegos</h1>
        </div>

        <div class="cards-content">

            <div class="tarjeta">
                <div>
                    <h1 class="tarjeta-h1">Explora una gran diversidad de Juegos</h1>
                </div>
                <div>
                    <img class="tarjeta-imagen" src="assets/imagenes/accion4.jpg" alt="">
                </div>
                <div>
                    <p class="tarjeta-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, corporis?
                        Excepturi vitae neque eius minima dicta ipsa dolores amet aliquid.</p>
                </div>
            </div>

            <div class="tarjeta">
                <div>
                    <h1 class="tarjeta-h1">Explora una gran diversidad de Juegos</h1>
                </div>
                <div>
                    <img class="tarjeta-imagen" src="assets/imagenes/accion4.jpg" alt="">
                </div>
                <div>
                    <p class="tarjeta-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, corporis?
                        Excepturi vitae neque eius minima dicta ipsa dolores amet aliquid.</p>
                </div>
            </div>

            <div class="tarjeta">
                <div>
                    <h1 class="tarjeta-h1">Explora una gran diversidad de Juegos</h1>
                </div>
                <div>
                    <img class="tarjeta-imagen" src="assets/imagenes/accion4.jpg" alt="">
                </div>
                <div>
                    <p class="tarjeta-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, corporis?
                        Excepturi vitae neque eius minima dicta ipsa dolores amet aliquid.</p>
                </div>
            </div>

            <div class="tarjeta">
                <div>
                    <h1 class="tarjeta-h1">Explora una gran diversidad de Juegos</h1>
                </div>
                <div>
                    <img class="tarjeta-imagen" src="assets/imagenes/accion4.jpg" alt="">
                </div>
                <div>
                    <p class="tarjeta-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, corporis?
                        Excepturi vitae neque eius minima dicta ipsa dolores amet aliquid.</p>
                </div>
            </div>

            <div class="tarjeta">
                <div>
                    <h1 class="tarjeta-h1">Explora una gran diversidad de Juegos</h1>
                </div>
                <div>
                    <img class="tarjeta-imagen" src="assets/imagenes/accion4.jpg" alt="">
                </div>
                <div>
                    <p class="tarjeta-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, corporis?
                        Excepturi vitae neque eius minima dicta ipsa dolores amet aliquid.</p>
                </div>
            </div>

        </div>

    </div>


</div> -->


<div class="tarjetaJuego-cont">
    <div class="tarjuego-cont">
        <div class="tarj-item">
            <div class="tarj-imagen">
                <label class="tarj-label" for="">Disparos</label>
                <img class="tarj-img" src="assets/Inicio/pubg.jpg" alt="">
            </div>
            <div class="tarj-info">
                <h5 id="tarj-titulo">VERTICAL GAMES DAILY</h5>
                <p id="tarj-descripcion">Entry Fee:Free</p>
            </div>
        </div>

        <div class="tarj-item">
            <div class="tarj-imagen">
                <label class="tarj-label" for="">Aventura</label>
                <img class="tarj-img" src="assets/Inicio/lara.jpg" alt="">
            </div>
            <div class="tarj-info">
                <h5 id="tarj-titulo">VERTICAL GAMES DAILY</h5>
                <p id="tarj-descripcion">Entry Fee:Free</p>
            </div>
        </div>

        
        <div class="tarj-item">
            <div class="tarj-imagen">
                <label class="tarj-label" for="">Carreras</label>
                <img class="tarj-img" src="assets/Inicio/carreras.jpg" alt="">
            </div>
            <div class="tarj-info">
                <h5 id="tarj-titulo">VERTICAL GAMES DAILY</h5>
                <p id="tarj-descripcion">Entry Fee:Free</p>
            </div>
        </div>


        
        <div class="tarj-item">
            <div class="tarj-imagen">
                <label class="tarj-label" for="">Deportes</label>
                <img class="tarj-img" src="assets/Inicio/mesi.jpg" alt="">
            </div>
            <div class="tarj-info">
                <h5 id="tarj-titulo">VERTICAL GAMES DAILY</h5>
                <p id="tarj-descripcion">Entry Fee:Free</p>
            </div>
        </div>

        <div class="tarj-item">
            <div class="tarj-imagen">
                <label class="tarj-label" for="">Terror</label>
                <img class="tarj-img" src="assets/Inicio/dbd.jpg" alt="">
            </div>
            <div class="tarj-info">
                <h5 id="tarj-titulo">VERTICAL GAMES DAILY</h5>
                <p id="tarj-descripcion">Entry Fee:Free</p>
            </div>
        </div>

        
        <div class="tarj-item">
            <div class="tarj-imagen">
                <label class="tarj-label" for="">Mundo Abierto</label>
                <img class="tarj-img" src="assets/Inicio/gta6.jpg" alt="">
            </div>
            <div class="tarj-info">
                <h5 id="tarj-titulo">VERTICAL GAMES DAILY</h5>
                <p id="tarj-descripcion">Entry Fee:Free</p>
            </div>
        </div>


    </div>
</div>

<div class="coleccion-m-container">
    <div class="coleccion-content">
        <div class="coleccion-info">
            <h3 id="coleccion-h3">Solo Hoy</h3>
            <h1 id="coleccion-h1">Colección de Juegos</h1>
            <p id="coleccion-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium, harum ut eos
                commodi nostrum veniam quo facere magni! Pariatur, sed.</p>
            <button id="coleccion-button" (click)="mostrarMas()" type="button">Mostrar Más</button>
        </div>

        <div class="carrusel-content">
            <div class="carrusel-flechas">
                <button (click)="anterior()" [disabled]="paginaIndex === 0" type="button" class="btn-flechas">
                    <i class="bi bi-chevron-compact-left icon-flecha-producto"></i>
                </button>
                <button (click)="siguiente()" [disabled]="paginaIndex === ultimaPagina" type="button"
                    class="btn-flechas">
                    <i class="bi bi-chevron-compact-right icon-flecha-producto"></i>
                </button>
            </div>
            <div class="carrusel-pagina" [style.transform]=" 'translateX(' + -paginaIndex * 100 + '%)'">
                <div class="carrusel-juego" *ngFor="let item of products">
                    <!-- imagen, nombre y categoría -->
                    <div class="imagen-juego">
                        <!-- <img class="img-juego" src="assets/imagenes/accion1.jpg"> -->
                        <img class="img-juego" [src]="item.image">
                    </div>
                    <div class="info-juego">
                        <p class="categoria-juego full">{{item.category}}</p>
                        <p class="nombre-juego full">{{item.name}}</p>
                    </div>
                </div>


            </div>
        </div>



    </div>
</div>


<div class="experiencia-container">
    <div class="experiencia-content">
        <div class="experiencia-item">
            <div class="exp-item">
            </div>
            <div class="exp-item">
                <h1 class="exp-titulo">Ambiente Increíble:</h1>
            </div>
            <div class="exp-item">
                <p class="exp-descripcion">Sumérgete en un mundo donde los gráficos impresionantes y el sonido envolvente te transportan a realidades alternativas.</p>
            </div>
        </div>

        <div class="experiencia-item">
            <div class="exp-item">
            </div>
            <div class="exp-item">
                <h1 class="exp-titulo">Jugabilidad Sin Límites</h1>
            </div>
            <div class="exp-item">
                <p class="exp-descripcion">Explora una jugabilidad fluida y sin interrupciones, diseñada para ofrecerte la mejor experiencia gamer.</p>
            </div>
        </div>

        <div class="experiencia-item">
            <div class="exp-item">
            </div>
            <div class="exp-item">
                <h1 class="exp-titulo">Desafíos Épicos</h1>
            </div>
            <div class="exp-item">
                <p class="exp-descripcion">Participa en desafíos diarios y semanales que ponen a prueba tus habilidades y te recompensan con premios únicos.</p>
            </div>
        </div>

        
    </div>
</div>



<div class="banner-container" style="background-image: url('/assets/Inicio/inicio2.jpg');">
    <div class="banner-content">
        <!-- <img class="rotar-item" src="/assets/items/gear1.png" alt=""> -->
        <div class="banner-text">
            <div class="banner-title">
                <h1 id="banner-ghostgames">GhostGames </h1>
            </div>
            <div class="banner-description">
                <!-- <p>En GhostGames, te invitamos a explorar un vasto universo de videojuegos. Desde los clásicos que marcaron una era hasta las últimas novedades, nuestro catálogo ofrece algo para cada tipo de jugador. Sumérgete en emocionantes aventuras, desafía tus habilidades y descubre nuevos mundos. Aquí, cada juego es una nueva historia esperando ser contada. ¡Únete a nuestra comunidad y empieza tu próxima gran aventura hoy mismo!</p> -->
                <p>Sumérgete en emocionantes aventuras, desafía tus habilidades y descubre nuevos mundos.</p>
            </div>
            <div class="banner-button-info">
                <button id="banner-boton" (click)="explorarMas()" type="button">Explorar más</button>
            </div>
        </div>
    </div>
</div>



<!-- animación linea izquierda a derecha -->
<!-- <a href="#" class="hover-line">Texto con línea al hover</a> -->


<!-- prototipo carrusel - numeros -->
<!-- <div class="carrousel-container">
    <div class="carousel" [style.transform]="'translateX(' + -currentIndex * 100 + '%)'">
        <div class="carousel-item" *ngFor="let item of items">
            {{ item }}
        </div>
    </div>
    <button (click)="prev()" [disabled]="currentIndex === 0">Prev</button>
    <button (click)="next()" [disabled]="currentIndex === maxIndex">Next</button>
</div> -->


<!-- prototipo carrusel productos :D v1 -->
<!-- <div class="carrusel-content">
    <div class="carrusel-pagina" [style.transform]=" 'translateX(' + -paginaIndex * 100 + '%)'">
        <div class="carrusel-juego" *ngFor="let item of products">
            <div class="imagen-juego">
                <img class="img-juego" [src]="item.image">
            </div>
            <div class="info-juego">
                <p class="categoria-juego full">{{item.category}}</p>
                <p class="nombre-juego full">{{item.name}}</p>
            </div>
        </div>
    </div>
</div> -->

<!-- <button (click)="anterior()" [disabled]="paginaIndex === 0">Prev</button>
<button (click)="siguiente()" [disabled]="paginaIndex === ultimaPagina">Next</button> -->