<div class="banner-container">
    <div class="banner-capa">
        <div id="banner-cont">
            <h1 id="banner-titulo">Contactame</h1>
            <!-- <label class="banner-url" for="">Home</label>
            <label class="banner-url" for="">></label>
            <label class="banner-url" for="">Contanto</label> -->
        </div>
    </div>
</div>

<div class="mi_info-container">
    <div class="mi_info-content">

        <div class="info-cont">
            <img class="item-info" id="info-icon" src="" alt="">
            <h4 id="info-h4">Ubicación</h4>
            <label id="info-label" for="">City Street Suice 2/A Sydney,
                Australia 58000</label>
        </div>
        
        <div class="info-cont">
            <img class="item-info" id="info-icon" src="" alt="">
            <h4 id="info-h4">Teléfono</h4>
            <label id="info-label" for="">+52 771178****</label>
            <label id="info-label" for="">+52 789896****</label>
        </div>

        <div class="info-cont">
            <img class="item-info" id="info-icon" src="" alt="">
            <h4 id="info-h4">Correo</h4>
            <label id="info-label" for="">City Street Suice 2/A Sydney,
                Australia 58000</label>
        </div>


    </div>
</div>
